
[Unit]
Description=FlameIT - Immersion Cooling - Entropy Server

[Service]
#Type=simple
User=pi
SyslogIdentifier=flameit-entropy-server
PIDFile=/home/pi/flameit-entropy-server/flameit-entropy-server.pid
Restart=always
RestartSec=5s
WorkingDirectory=/home/pi/entropy-server/
ExecStart=/home/pi/entropy-server/
ExecReload=/home/pi/entropy-server/
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
